body {
    background: linear-gradient(black 5%, #088bc7 40%, #002a3e 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    height: 70px;
    background-color: black;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
}

header h1 {
    color :white;
    line-height: 70px;
}

nav ul li {
    display: inline block;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
    list-style: none;
}

nav ul li a:hover{
    background-color: rgb(36, 36, 36);
}

.gelombang {
    width: 100vw;
}

#profile {
    color:white;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    flex-grow: 1;
    width: 100%;
}

td {
    width: 50%;
}

a {
    text-decoration: none;
    color:white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

article {
    font-size: 15px;
    padding :20px;
    margin: 10px;
    border-radius: 10px;
    color:white;
    flex-basis: calc(50% - 30px);
    box-sizing: border-box;

}

article:hover {
    background-color: #003147;
    cursor: pointer;
}

aside {
    font-size: 15px;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
    color: white;
    flex-basis: calc(50% - 30px);
    box-sizing: border-box;
}

aside:hover{
    background-color: #003147;
    cursor: pointer;
}

ckp-tw {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

footer {
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px;
}

#social-media{
    display: inline;
}

#alamat{
    border: 1px solid ;
    padding: 30px;
    margin: 30px;
}
